@media screen and (max-width: 1200px) {

.app-header-of-hardskills {
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 0;
    width: 100%;
    margin: auto;
}
}

@media screen and (max-width: 900px) {
    .app-header-info {
        flex-direction: column;
    }

  .app-header-info-text {
    width: 100%;
} }

